.centered_screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: white;
}

/*Default*/
#chapter-box{
    display: none;
}

#verse-box{
    display: none;
}

@keyframes transition-fade {
    0% {top: var(--trans-pos-verti-start); left: var(--trans-pos-hori-start); opacity: var(--trans-opa-start);}
    100% {top: var(--trans-pos-verti-end); left: var(--trans-pos-hori-end); opacity: var(--trans-opa-end);}
}

#verse-box.trans, #chapter-box.trans, #title-box.trans{
    position: relative;
    animation-name: transition-fade;
    animation-duration: 0.25s;
}

/* Texts */
#title-eng{
    font-size: 5rem;
    margin-bottom: 0%;
}

#title-san{
    font-size: 3rem;
    margin-top: 1rem;
}

#chapter-eng{
    font-size: 3rem;
    margin: 1rem;
}

#chapter-san, #chapter-number{
    font-size: 1.8rem;
    margin: 0%;
}

#verse_eng{
    font-size: 1.5rem;
    margin: 0%;
}

#verse_number{
    font-size: 1.25rem;
}

#verse_san{
    font-size: 1.25rem;
    margin: 1rem;
}