html, body {
    height: 100%;
}

body{
    background: linear-gradient(to top right, var(--color-dark),  var(--color-accent));
    background-color: var(--color-accent);

    color: white;
}

h1, h2{
    margin: 0%;
}

.phiGrid{
    display: grid;
    grid-template-columns:  1fr 0.618fr;
    height: 100%;

    animation-name: fadeIn;
    animation-duration: 1s;
}

.phiGrid div{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#self-portrait{
    border-radius: 50%;
    object-fit: cover;

    width: 75%;
    margin: auto;
}

.phiGrid h1{
    font-size: 4rem;
}

.phiGrid h2{
    font-size: 2rem;
}

.phiGrid p{
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.phiGrid a{
    animation-duration: 1s;
    font-size: 2rem;
}